<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <title>Places I've Been</title>
  </head>
  <body>
<h1>you added a place!</h1>
   <p><img src= '{{ newplace.getImgPath }}'></p>
   <p>{{ newplace.getPlace }}</p>
      <p>{{ newplace.getDesc }}</p>
      <p><a href='/'>View your list of places you've been.</a></p>

  </body>
</html>
