<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Find a Car</title>
</head>
<body>
    <div class="container">
        <h1>this is root, which is car select form</h1>
        <form action="/search_results" method="get">
            <div class="form-group">
                <label for="price">Enter Maximum Price:</label>
                <input id="price" name="price" class="form-control" type="number">
            </div>
            <div class="form-group">
              <label for="mileage">Enter Maximum Mileage:</label>
              <input id="mileage" name="mileage" class="form-control" type="number">
            </div>
            <button type="submit" class="btn-success">Submit</button>
        </form>

    </div>
    <a href='/create_ad'>A Link to the form to Create an Ad </a>
    <a href="/display_ad">Display All</a>
</body>

</html>
