<html>
    <head>
        <title>Pick a Player</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


        <style media="screen">
            #create_player{

                float: left;
                border: 1px solid black;
            }

            #usernames {
                float: right;
                border: 1px solid black;

            }

            .player img {
                width: 50px;
                height: 50px;
            }
        </style>

                <script>
                            $(function(){
                            var max = 2;
                            var checkboxes = $('input[type="checkbox"]');

                            checkboxes.change(function(){
                                var current = checkboxes.filter(':checked').length;
                                checkboxes.filter(':not(:checked)').prop('disabled', current >= max);
                            });
                            });
                </script>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Choose a player or create your own!</h1>

            <div id="usernames" class="col-xs-4 col-xs-offset-1">
                <h1>Players</h1>
                {% if players is empty %}
                <h2>No Players</h2>
                {% endif %}
                <form name="enterGame" action="/game" method="get">
                {% for player in players %}
                    <div class="form-group player">
                    <input type="checkbox" name='playCheck'[] value = {{player.getName}}><img src={{player.getImage}}>{{player.getName}}<br>
                    </div>

                {% endfor %}
                <button name="submit">Players Fight!</button>
                </form>



            <br>
            <a href="/delete_all_players">Delete all the players</a>
            </div>

            <div id="create_player" class="col-xs-7">
                <form name="ad" action="/create_player" method="post">
                    <div class="form-group">
                        <label for="name">Player Name:</label>
                        <input type="text" class="form-control" id = "name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id = "age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="image">Image URL: </label>
                        <input type="text" class="form-control" id = "image" name="image">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id = "email" name="email">
                    </div>
                        <button name="submit">Submit</button>

                </form>
            </div>
        </div>
    </body>
</html>
