<html>
    <head>
        <title>Showing Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <h2>...and the winner is...</h2>
            <br>
            <h1>    {{result}} </h1>
            <br>
            <a href="/game">Play Again?</a>
        </body>

    </html>
